# Node modules
node_modules/

# Prisma generated
**/node_modules/.prisma/

# Prisma migrations
packages/db/prisma/migrations/


# Build outputs
dist/
build/

# Environment variables
.env

# VSCode settings
.vscode/

